/*classes para grids e hover effects*/
body{
    margin:0;
    padding:0;
    background-color: lemonchiffon;
}

h1 {
    color: indigo;
}

#container {
    text-align: center;
}

.sketch-grid {
    margin-top:30px;
    margin-left: auto;
    margin-right:auto;
    width: 800px;
    height:480px;
    display:grid;
    background-color:mediumaquamarine;
}


.sketch-grid div {
    color:wheat;
}

.drawing {
    background-color: white;    
}